<app-adminheader></app-adminheader>
<div class="user_management_wrapper">
  
    <div class="user_management_inner">
  <div *ngIf="ActivatedRoute.snapshot.params._id !=null && ActivatedRoute.snapshot.params._id !=undefined">
    <!-- <h2>  MANAGE LEADS EDIT </h2> -->
    <h2>Edit Details For: {{manageleads_fullname}}</h2>
    <div class="inner_search_wrapper">
       <div class="inner_content_wrapper">
        <br>
    <h3>Leads Name : {{manage_leads_firstname}}</h3>
    </div>
    </div>
  </div>
     <h2 *ngIf="ActivatedRoute.snapshot.params._id ==null"> ADD LEAD LIST</h2> 
  </div>
  </div>
  <div class="addformwrapper">
    <lib-showform *ngIf="formdata !=null"
    [formdata]="formdata"
    [formfieldrefresh]="formfieldrefresh"
    [formfieldrefreshdata]="formfieldrefreshdata"> 
  </lib-showform> 
</div>
<app-footer></app-footer>
