.privacy_wrapper { padding: 25px 0;}

.privacy_wrapper h2{ margin: 0; padding: 0 0 15px 0; font-size: 25px;}
 
 .privacy_wrapper label{background: #00a8ef;
    font-size: 22px;
    font-family: 'RalewaySemiBold';
    text-decoration: none;
    
    padding: 8px 15px 7px 15px; 
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0; display: block;}

    .privacy_wrapper p{ margin: 0; padding: 8px 0; font-size: 16px;}

    .privacy_wrapper p a{color: #00a8ef;}

    .privacy_wrapper p b{ font-size: 20px; color: #0b4d86; font-weight: normal;}

    .privacy_wrapper ul{ margin: 0; padding: 0 0 0 20px;}

    .privacy_wrapper ul li{ list-style: none; background: url(../../assets/images/fpv_newblock8_icon.png) no-repeat left 7px; padding-left: 20px;} 