<app-adminheader></app-adminheader>



<div class="fpv_new_bannerblock">
  <div class="fpv_new_bannerblock_wrapper">
    <h2>New Sales Representative Introduction Presentation.</h2>
    <h3>Review the comprehensive program we’re offering you including Commissions Amounts,<br/>
      Payment Schedules, and Program Information.</h3>
    <div class="fpv_newbanner_menu"> 
       <span (click)="scroll1()">
      About Beto Paredes
      </span> 
      <span (click)="scroll2()">
      Industries
      </span> 
      <span (click)="scroll3()">
      Sales Commissions
      </span> 
      <span (click)="scroll4()">
      Potential Earnings
      </span> 
      <span (click)="scroll5()">
      Discovery Desk Program
      </span> 
      <span (click)="scroll6()">
      Payment Schedule
      </span> 
      <span (click)="scroll7()">
      Back Office
      </span> 
      <span (click)="scroll8()">
      Training
      </span> 
      <span (click)="scroll9()">
      Weekly Calls
      </span> 
      <span (click)="scroll10()">
      Steps To Close
      </span>
      <div class="clear"></div>
    </div>
  </div>
</div>

 
<div class="full_Program_View_body full_Program_View_1">
  <div class="fpv_new_block1">

    <div class="fpv_new_block1_wrapper">
      <h2>Technology Development </h2>
      <h2>Business Development and Sales  </h2>
      <h2>Accounts Management and 
       Operations</h2>
       
       <label>THE BETO PAREDES FAMILY OF COMPANIES IS A JOINT VENTURE TECHNOLOGY AND BUSINESS DEVELOPMENT COMPANY. </label>
       <label>WE ARE COMPOSED OF THOUGHT LEADERS, CONSULTANTS, SALES PROFESSIONALS, SOFTWARE ENGINEERS, DESIGNERS, CONTENT CREATORS AND PROJECT MANAGERS.</label>
       <label>WE SPECIALIZE IN NATIONAL AND GLOBAL INITIATIVES IN INTERNET BASED SOFTWARE PLATFORMS AND MEDICAL INDUSTRY TECHNOLOGY AND PROJECTS.</label>
       
       <h4>We are a Population Technology 
    Development Company</h4>
    
    <label>All the technologies that we develop, whether social networking, marketing technology, 
    medical industry focused or humanitarian, are population based. </label>
    <label>We develop platforms that services thousands to millions of users nationally and globally.</label>
    <label>We are also a national sales organization build to service the sales and deployment 
    of the technologies we build in-house and that of our partners. </label>
     
    
    
    </div>
    
    </div>


</div>


<div class="full_Program_View_body full_Program_View_2">
<div class="fpv_new_block2">
  <div class="fpv_new_block2body">
    <div class="fpv_new_block2_wrapper">
    
      <div class="fpv_new_block2_left">
      <h1>The Beto Paredes Family of Companies In-House Development Projects Initiatives</h1>
      <h4>Technology Development Department</h4>
      
        <div class="fpvnew_block2_group">
     <h2><span>Medical Industry</span></h2>
     
       <div class="fpvnew_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo1.png" alt="#" />
       <img src="../../assets/images/FPV_page2_logo2.png" alt="#" />
       <img src="../../assets/images/FPV_page2_logo3.png" alt="#" />
       
       </div>
     
    </div>
    
    <div class="fpvnew_block2_group">
     <h2><span>Entertainment and Training</span></h2>
     
       <div class="fpvnew_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo4.png" alt="#" />
       <img src="../../assets/images/FPV_page2_logo5.png" alt="#" />
       
       
       </div>
     
    </div>
    
    <div class="fpvnew_block2_group">
     <h2><span>Automotive</span></h2>
     
       <div class="fpvnew_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo6.png" alt="#" /> 
       
       
       </div>
     
    </div>
    
    <div class="fpvnew_block2_group">
     <h2><span>Sales Operations</span></h2>
     
       <div class="fpvnew_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo7.png" alt="#" /> 
       <img src="../../assets/images/FPV_page2_logo8.png" alt="#" /> 
       
       </div>
     
    </div>
    </div> 
    
     <div class="fpv_new_block2_right">
     <h1>Quick Snapshot of The Beto Paredes Family of Companies</h1>
     <ul>
    <li>18 Years in the Industry</li>
  
  <li>Over 2,000 Projects launched as a Group</li>
  
  <li>Over 1,800 Auto Dealer Clients</li>
  
  <li class="imglicon"><span>7 INC 500 Clients</span>   <img src="../../assets/images/FPV_page2_logo9.png" alt="#" />  <div class="clear"></div></li>
  
  <li>2 Major Development Companies</li>
  
  <li class="imglicon2">   <img src="../../assets/images/FPV_page2_logo7.png" alt="#" />  <img src="../../assets/images/FPV_page2_logo10.png" alt="#" />  <div class="clear"></div></li>
  
  <li>National Sales Organization - 138 Consulting Directors </li>
  
  <li>6 Major Sales Opportunities</li>
  
  <li>Business Operations and Accounts Department</li>
  
  <li>Technology Development Department</li>
  
  <li>33 Fulltime In-House Professionals</li>
  
  <li>14 Managing Partnerships</li>
  
    </ul>
     </div>
     
     <div class="clear"></div>
  
    </div>
  </div>
  </div>
</div>
 
<div class="full_Program_View_body full_Program_View_3">
  <div class="fpv_new_block3">
  <div class="fpv_new_block3body">
    <div class="fpv_new_block3_body2">
      <div class="fpv_new_block3_wrapper">
      
      <div class="fpv_new_block3_wrappercon">
      <h2>The following are the 
  industries we operate sales in
  </h2>
  <span class="fpv_new_block3span">
  <label>Technology services and software companies</label>
  <label>Major BIG DATA marketing companies</label>
  <label>Digital marketing agencies</label>
  <label>Direct mail companies</label>
  <label>Multi level marketing companies</label>
  <label>Online affiliate and eCommerce companies</label>
  <label>Large custom software development</label>
  </span>
  
  <span class="fpv_new_block3span">
  <label>Laboratories (stacked sale)</label>
  <label>Diagnostic imaging centers (stacked sale)</label>
  <label>Hospitals and medical facilities (stacked sale)</label>
  <label>Pharma and medicine brand companies</label>
  <label>Diabetic and other medical supply companies</label> 
  <label>Medical industry marketing companies</label>
  </span>
      
      
      <div class="clear"></div>
    
    </div>
    
    </div>
    </div>
   </div>
   </div> 
  </div>

  <div class="full_Program_View_body full_Program_View_4"> 
   <div class="fpv_new_block4">
    <div class="fpv_new_block4_body">
    
     <div class="fpv_new_block4_wrapper">
     
     <h2>Beto Paredes Family of<br/> 
  Companies Sales Organization</h2>
  
  
  <div class="fpv_new_block4_con1">
  
  
  <div class="fpv_new_block4_left1">
   <h3>Technology Sales and Sourcing:</h3>
   <label><span>Universal Tech Associates</span> – International Technology Joint Ventures 10% 
  Of all contract costs * 5% Residual net for life of the JV
  </label>
  <label><span>GEOFenceDSP.com</span> – Residential GEO Fencing Agency Technology 10% 
  of Initial contract costs * 2.5% of all DSP side wholesale</label>
  
  <label><span>ApogeeInvent</span> – Marketing Platforms and Custom Development 15% of 
  initial contracts * 5% of all continuing
  </label>
   
  </div>
  <div class="fpv_new_block4_right1">
  <h3>Medical Industry Sales:</h3>
  <label><span>AWS Diagnostic Center ANS</span> – ANS Device and Platform Sales $2,500 a 
  device placed * 5% of the monthly net to AWS on all tests
  </label>
  
  <label><span>MedWorldOne</span> - Medical Supply Procurement 2.5% of all 
  net revenue from closed relationship * 10% of all net 
  revenue from fully managed accounts</label>
  
  <label><span>Helios Medical Marketing</span> - GEO Fencing and Digital 
  Display 10% of all DSP side wholesale
  </label>
  </div>
  <div class="clear"></div>
  
  </div>
  
  
  <div class="fpv_new_block4_con2">
  <div class="fpv_new_block4_left2">
  <p>The heartbeat of our company is our national 
  sales organization. 
  <br/><br/>
  The opportunities we represent are all through 
  partnerships and Joint Ventures.  together we 
  play a central role in ownership and development.
  </p>
  
  
  </div>
  
  <div class="fpv_new_block4_left2">
  <p>The commissions that we offer are in the upper 
  percentage of high-ticket programs for 
  sales professionals.</p>
  </div>
   <div class="clear"></div>
   </div>
   </div>
   
   
   </div>
   
   </div>
  </div>
  <div class="full_Program_View_body full_Program_View_5"> 
   
    <div class="fpv_new_block5">
    
    <div class="fpv_new_block5_body">
      <div class="fpv_new_block5_wrapper">
    
  <h1>Here are some examples of single sale opportunities with the Beto Paredes Family of Companies</h1>
  
  <div class="fpv_new_block5_left">
   
   <label>Our sales platform is a Senior Outside Sales Opportunity for 1099 Consulting Directors.</label>
  
  <label>The opportunities we developed to bring in high closing commissions and very lucrative monthly residual income.</label>
  
  <label>As a Consulting Director working with us daily, achieving a 6 to 7 figure yearly residual income is extremely possible. </label>
  
  <label>We offer a full discovery call closing desk for every opportunity and a back-office CRM and contracting system for every rep.</label>
  
  <label>We have sales decks, brochures, business cards, and flyers available for every opportunity.</label>
  
  <label>We hold weekly trainings for every opportunity and run fully managed sales with serious teams.</label>
  
  </div>
  
  <div class="fpv_new_block5_right">
  
      <div class="fpv_new_block5_group">
       <div class="fpv_new_block5_group_wrapper">
          <div class="fpv_new_block5_group_left">  <img src="../../assets/images/repdashboard_offer_img10.png" alt="#" /></div>
           <div class="fpv_new_block5_group_right">
           
           <label>A $200,000 JV</label>
           
           <span>* $20,000 Commission <br/>
  * Unlimited potential in residual (5%)</span>
           
           </div>
       </div>
  
     </div>  
     
     
         <div class="fpv_new_block5_group">
       <div class="fpv_new_block5_group_wrapper">
          <div class="fpv_new_block5_group_left">  <img src="../../assets/images/FPV_page2_logo10.png" alt="#" /></div>
           <div class="fpv_new_block5_group_right">
           
           <label>Titan MLM $50,000 platform</label>
           
           <span>* $7,500 a close<br/> 
  * Potential for $500 a month continuous
  </span>
           
           </div>
       </div>
  
     </div>  
     
      <div class="fpv_new_block5_group">
       <div class="fpv_new_block5_group_wrapper">
          <div class="fpv_new_block5_group_left">  <img src="../../assets/images/FPV_page2_logo1.png" alt="#" /></div>
           <div class="fpv_new_block5_group_right">
           
           <label>MRI Device Wholesale at $150,000 <p>($80,000 Costs)</p> </label>
           
           <span>* $1,500 non managed <br/>
  * $6,000 Fully managed
  </span>
           
           </div>
       </div>
  
     </div>  
     
     
     <div class="fpv_new_block5_group">
       <div class="fpv_new_block5_group_wrapper">
          <div class="fpv_new_block5_group_left">  <img src="../../assets/images/marketingre_view_awslogo.png" alt="#" /></div>
           <div class="fpv_new_block5_group_right">
           
           <label>One AWS RM-3A Placed <p>(3+ the usual)</p> </label>
           
           <span>* $2,500 up front <br/>
  * Potential for $1,000 a month continuous
  </span>
           
           </div>
       </div>
  
     </div>  
     
     <div class="fpv_new_block5_group">
       <div class="fpv_new_block5_group_wrapper">
          <div class="fpv_new_block5_group_left">  <img src="../../assets/images/repdashboard_offer_img7.png" alt="#" /></div>
           <div class="fpv_new_block5_group_right">
           
           <label>Agency or BIG DATA Partner spend 
  of $500,000 a month <span>(most will be over 5 million)</span> </label>
           
           <span>* $4,375 a month commissions </span>
           
           </div>
       </div>
  
     </div>  
     
     <div class="fpv_new_block5_group">
       <div class="fpv_new_block5_group_wrapper">
          <div class="fpv_new_block5_group_left">  <img src="../../assets/images/ami_new_img4.png" alt="#" /></div>
           <div class="fpv_new_block5_group_right">
           
           <label>Large Advertiser Spend of $50,000 a month </label>
           
           <span>* $1,750 a month in commissions</span>
           
           </div>
       </div>
  
     </div>  
     
     
     
     
     
  
  </div>
   
   
   
  
  <div class="clear"></div>
  
  </div>
  </div>
  </div>
  </div>
  
  <div class="full_Program_View_body full_Program_View_6"> 
    <div class="fpv_new_block6">
     <div class="fpv_new_block6_wrapper">
      <div class="fpv_new_block6_wrapper_text">
     <h2>WE OFFER YOU FULL DISCOVERY CALL 
  SUPPORT FOR YOUR SALES EFFORTS</h2>
  
  <h3>
  <strong>You have access to the CEOs and Vice Presidents of Sales for each of the companies that we represent. The closing desk is composed of professionals that have consistent track records in closing hundreds to thousands of deals. </strong>
  
  <p>You have very easy access to the calendar availability of everyone of the closing desk participating managers. You will be able to see their availability and book the discovery appointments right there on their calendar in our back office. </p>
  </h3>
    </div>
    </div>
    </div>

    <div class="fpv_new_block7">
     <div class="fpv_new_block7body">
     <div class="fpv_new_block7_wrapper">
      <div class="fpv_new_block7_wrapper_text">
      
      <h2>COMMISSIONS ARE PAID MONTHLY</h2>
      
      <label>We receive commissions from each of the companies on a weekly basis, as they are paid directly by their clients net 7.</label>
      <label>Each month end, we calculate exactly what commissions have come in, then we add each individual client report to your commission 
  report in the back office. </label>
  
  <label>We pay Monthly Net 7 and will mail you a check for the full commission amount with a detail within 7 days into the next month. </label>
  <label>We have some other payment options as well besides check.  Please talk to us if there is a more preferred method for you.</label>
      
      </div>
      
      <div class="clear"></div>
      </div>
      
      </div>
      
      </div>
  </div>
      
  <div class="full_Program_View_body full_Program_View_7"> 
      <div class="fpv_new_block8">
      
        <div class="fpv_new_block8_wrapper">
       <div class="fpv_new_block8_text">
         <h2>BETO PAREDES CONSULTING DIRECTOR BACK OFFICE</h2>
         
         <label>Sales decks in both PDF and PowerPoint for every opportunity you are selling.</label>
  
         <label>Brochure print material for every program orderable at wholesale from Vista Print  Resource Center with:</label>
         
         <p>Industry Report (Information you need to know about the Industry we are sellin)</p>
  
         <p>Sales Pitch (The opening script for pushing to a Discovery call)</p>
  
         <p>Transliteration (From all the training in the training cente)</p>
  
         <p>Questionnaire (What questions must be answered to officially start a contract)</p>
  
         <p>Print Work for download and email attachments</p>
         
         <label> Full Training Center Education and Testing (Plus weekly team calls for each platform)</label>
  
         <label>Lead management system for entering in your leads</label>
  
         <label>Discovery call calendar for setting presentation reviews with your prospects</label>
  
         <label>Contract request system for sending contracts for review and then client signature</label>
  
         <label>Senior manager 15-minute quick game plan calendar available to schedule with our team</label>
      
      </div>
      </div>
      
      </div>
  </div>
  <div class="full_Program_View_body full_Program_View_8"> 
        <div class="fpv_new_block9">
       <div class="fpv_new_block9body">
        <div class="fpv_new_block9_wrapper">
       <div class="fpv_new_block9_text">
       
       <h2>What is covered in Training?</h2>
       
       <label>The pitch and how to give it for each opportunity</label>
  
       <label>A full review of the Media Deck by the closing desk managers</label>
  
       <label>How to use the Backoffice</label>
  
       <label>How to set a discovery call</label>
  
       <label>How to enter in a lead</label>
  
       <label>How to schedule a closing desk call</label>
  
       <label>How to access the resource center and what you will find there</label>
       
       <p>As soon as you finish your first full training, your back office will open up and you will be added to the weekly call for that training.</p>
  
       
       </div>
       
       <div class="clear"></div>
       
       </div>
       
       </div>
    </div>
  </div>
    
  <div class="full_Program_View_body full_Program_View_9"> 
    <div class="fpv_new_block10">
         <div class="fpv_new_block10_wrapper">
    
     <div class="fpv_new_block10_text">
     
     <h2>Weekly Calls</h2>
     <p>Once you have finished training, you will be added to the weekly call that we hold for each opportunity. This will happen automatically and as soon as you are done training, you will receive a Go2Webinar invite in your email.
  </p>
  
  <p>The closing desk managers host this call and are there to give weekly game plan advice and answer your questions.  Please come prepared to ask your questions in a complete fashion.  Questions are submitted over chat and then addressed as there is time on the call. </p>
  
  <span>Monday – 6PM Pacific / 9PM Eastern: AWS Diagnostic Center Call</span>
  
  <span>Tuesday – 6PM Pacific / 9PM Eastern: GEOFenceDSP</span>
  
  <span>Wednesday – 6PM Pacific / 9PM Eastern:  Helios Medical Marketing Call </span>
  
  <span>Thursday – 6PM Pacific / 9PM Eastern:   MedWorldOne Call</span>
  
  <strong>(Calls for ApogeeInvent and Universal Tech Associates are held periodically.  We will send out announcements when they are scheduled.)</strong>
    
        </div>
             
        </div>
       
       
    </div>
  </div>
  <div class="full_Program_View_body full_Program_View_10">
    <div class="fpv_new_block11">
        
    
     <div class="fpv_new_block11_text1">
      <div class="fpv_new_block11_wrapper">
          <div class="fpv_new_block11_wrapper_text1">
     <h2>The Beto Paredes Family of Companies Sales Process:</h2>
     <p>We have worked diligently to make the process for sales as identical across the platforms as possible.  All 6 programs follow these 12 critical steps from open to close of the deal. </p>
     <p>1.	Review the qualifications document on the Industry Report (top of the report) to make sure that you are  
         contacting qualified  leads.</p>
         
         <p>2.	You seek out the potential client using your own methods or prospecting (if you are granted CRM access to 
         our leads this will be through our system).
  </p>
  
  <p>3.	Give an “Opportunity” pitch.  It is critical that you cover all pitch points for the program.</p>
  <p>4.	When you have a prospect ready to go, you enter them in as a lead in our system.</p>
  <p>5.	Open the Discovery Calendar and set a Screen  Share presentation with the Closing Desk and the prospect.</p>
  <p>6.    You are required to be on the Discovery presentation and host the call.</p>
     </div>
     </div>
     </div>
      <div class="clear"></div>
      <div class="fpv_new_block11_text2">
      
       <div class="fpv_new_block11_wrapper">
       <div class="fpv_new_block11_wrapper_text2">
     <p>7.	On the Discovery, call our senior closing team will do everything possible to move the deal towards closed,   
         including the suggestion of sending them the contract.</p>
         
         <p>8.	You need to plan to stay at least 10 extra minutes after all Discoveries to speak with our Senior staff on an  
         action plan for next steps with the prospect.</p>
         
         <p>9.   Once a Discovery is finished, it is your responsibility to close the rest of the contract and get the signature. </p>
         
         <p>10.	At this point, you send a contract request in for review to the admin team.  They will add anything they see 
         in this from your notes and then send you back the contract ready to go to the client.</p>
         <p>11.	From here, you will need to be able to answer questions on the contract the best you can and get them to  
         sign.  This is all done through digital signature (contract review is in the training center for eachopportunity).</p>
         
         <p>12.	Upon request, you can if needed set additional calls with the Closing Desk on a case by case approved basis.</p>
     </div>
     </div>
      </div>
      <div class="clear"></div>
     
     
     </div>

    </div>


<span class="backtotop" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <a (click)="scrollToTop()">
    <img src="../../assets/images/scrolltotop_img.png" >
  </a>


</span>


<app-footer></app-footer>