
<app-adminheader></app-adminheader>

 <div class="full_Program_View_top">
  <div class="full_Program_View_top_wrapper">
    <div class="full_Program_View_top_left">
   
      <ul>
       <li class="lisubmenu">    About Beto Paredes  
      <ul>
        <li (click)="scroll1()">About Beto Paredes  1</li>
        <li (click)="scroll2()">About Beto Paredes  2</li>
       
      </ul>   
      </li>      
        <li (click)="scroll3()"> Industries       </li>
          <li (click)="scroll4()"> Sales Commissions   </li>   
  
            <li (click)="scroll5()">  Potential Earnings   </li>
  
              <li (click)="scroll6()"> Discovery Desk Program</li> 
  
                <li (click)="scroll7()"> Payment Schedule  </li> 
  
                  <li (click)="scroll8()"> Back Office   </li> 
  
                    <li (click)="scroll9()"> Training      </li>  
  
                      <li (click)="scroll10()"> Weekly Calls      </li> 
  
  
                      <li class="lisubmenu">  Steps To Close
  
                        <ul>
                          <li (click)="scroll11()">Steps To Close  1</li>
                          <li (click)="scroll12()">Steps To Close  2</li>
                          <li (click)="scroll13()">Steps To Close  3</li>
                          <li (click)="scroll14()">Steps To Close  4</li>
                        </ul>   
  
                      </li>
      
      </ul>
      
      
         
      
        </div>

  <div class="full_Program_View_top_right">
   <img src="../../assets/images/beto_fullpogramlogo.png" alt="#">
   <h2>
     <!-- New Sales Representative Introduction Presentation. -->
     Consulting Director Program and Policies
    <span>
      Review the comprehensive program we’re offering <br/>
      you including Commissions Amounts, <br/>
      Payment Schedules, and Program Information.

    </span>
    </h2>

  </div>



  <div class="clear"></div>
</div>
 </div>

<div class="full_Program_View_body full_Program_View_1">
<!-- <img src="../../assets/images/full_Program_View_1.jpg"> -->
<div class="fpv_block1">

  <div class="fpv_block1_wrapper">
   
   <div class="fpv_block1_top">
       <img src="../../assets/images/FPV_beto_logo.png"  alt="" class="FPV_beto_logo"/>
       <div class="fpv_block1_top_text">
          <span>Technology Development </span>
          <span>Business Development and Sales </span> 
          <span>Accounts Management and Operations</span>

       </div>
       <div class="clear"></div>
    </div>
    
    
    
    <ul>
      <li>THE BETO PAREDES FAMILY OF COMPANIES IS A JOINT VENTURE TECHNOLOGY AND BUSINESS DEVELOPMENT COMPANY. </li>

      <li>WE ARE COMPOSED OF THOUGHT LEADERS, CONSULTANTS, SALES PROFESSIONALS, SOFTWARE ENGINEERS, DESIGNERS, CONTENT CREATORS AND PROJECT MANAGERS.  </li>

      <li>WE SPECIALIZE IN NATIONAL AND GLOBAL INITIATIVES IN INTERNET BASED SOFTWARE PLATFORMS AND MEDICAL INDUSTRY TECHNOLOGY AND PROJECTS. </li>

    
    </ul>
    
    
    <h2>We are a Population Technology Development Company</h2>
    
    <ul>
    
      <li>All the technologies that we develop whether social networking, marketing technology, medical industry focused or humanitarian are population based. </li>
      <li>We develop platforms that services thousands to millions of users nationally and globally.</li>
      <li>We are also a national sales organization build to service the sales and deployment of the technologies we build in house and that of our partners. </li>
    
    </ul>
  
  </div>

</div>
</div>


<div class="full_Program_View_body full_Program_View_2">
  <!-- <img src="../../assets/images/full_Program_View_2.jpg"> -->
  <div class="fpv_block2">

    <div class="fpv_block2_left">
    <h1>The Beto Paredes Family of Companies<br/> In-House Development Projects Initiatives</h1>
    
    <h3>Technology Development Department</h3>
    
    <div class="fpv_block2_group">
     <h2><span>Medical Industry</span></h2>
     
       <div class="fpv_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo1.png" alt="#" />
       <img src="../../assets/images/FPV_page2_logo2.png" alt="#" />
       <img src="../../assets/images/FPV_page2_logo3.png" alt="#" />
       
       </div>
     
    </div>
    
    <div class="fpv_block2_group">
     <h2><span>Entertainment and Training</span></h2>
     
       <div class="fpv_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo4.png" alt="#" />
       <img src="../../assets/images/FPV_page2_logo5.png" alt="#" />
       
       
       </div>
     
    </div>
    
    <div class="fpv_block2_group">
     <h2><span>Automotive</span></h2>
     
       <div class="fpv_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo6.png" alt="#" /> 
       
       
       </div>
     
    </div>
    
    <div class="fpv_block2_group">
     <h2><span>Sales Operations</span></h2>
     
       <div class="fpv_block2_group_con">
       <img src="../../assets/images/FPV_page2_logo7.png" alt="#" /> 
       <img src="../../assets/images/FPV_page2_logo8.png" alt="#" /> 
       
       </div>
     
    </div>
    
    <h4>Organization and Sales Development</h4>
    
    
    
  
    </div>
  
  
   <div class="fpv_block2_right">
    <h1>Quick Snapshot of The Beto Paredes Family of Companies</h1>
    <ul>
    <li>18 Years in the Industry</li>
  
  <li>Over 2,000 Projects launched as a Group</li>
  
  <li>Over 1,800 Auto Dealer Clients</li>
  
  <li class="imglicon"><span>7 INC 500 Clients</span>   <img src="../../assets/images/FPV_page2_logo9.png" alt="#" />  <div class="clear"></div></li>
  
  <li>2 Major Development Companies</li>
  
  <li class="imglicon">   <img src="../../assets/images/FPV_page2_logo7.png" alt="#" />  <img src="../../assets/images/FPV_page2_logo10.png" alt="#" />  <div class="clear"></div></li>
  
  <li>National Sales Organization - 138 Consulting Directors </li>
  
  <li>6 Major Sales Opportunities</li>
  
  <li>Business Operations and Accounts Department</li>
  
  <li>Technology Development Department</li>
  
  <li>33 Fulltime In-House Professionals</li>
  
  <li>14 Managing Partnerships</li>
  
    </ul>
   
   
   </div>
  
  <div class="clear"></div>
  </div>
  
  </div>
  
<div class="full_Program_View_body full_Program_View_3">
  <!-- <img src="../../assets/images/full_Program_View_3.jpg"> -->
  <div class="fpv_block3">
    <div class="fpv_block3_wrapper">
    
    <h2>The following are the industries we operate sales in</h2>
    
     <ul>
     <li>Technology services and software companies</li>
    <li>Major BIG DATA marketing companies</li>
    <li>Digital marketing agencies</li>
    <li>Direct mail companies</li>
    <li>Multi level marketing companies</li>
    <li>Online affiliate and eCommerce companies</li>
    <li>Large custom software development</li>
    <li>Laboratories (stacked sale)</li>
    <li>Diagnostic imaging centers (stacked sale)</li>
    <li>Hospitals and medical facilities (stacked sale)</li>
    <li>Pharma and medicine brand companies</li>
    <li>Diabetic and other medical supply companies</li> 
    <li>Medical industry marketing companies</li>
     </ul>
     
    </div>
    
    </div>
  </div>
  
  
<div class="full_Program_View_body full_Program_View_4">
  <!-- <img src="../../assets/images/full_Program_View_4.jpg"> -->
  <div class="fpv_block4">
    <div class="fpv_block4_wrapper">
    <h2>Beto Paredes Family of Companies Sales Organization</h2>
    
    <h3>Technology Sales and Sourcing:</h3>
    
    <ul>
     <li><strong>Universal Tech Associates –</strong> International Technology Joint Ventures 10% Of all contract costs * 5% Residual net for life of the JV</li>
     <li><strong>GEOFenceDSP.com –</strong> Residential GEO Fencing Agency Technology 10% of Initial contract costs * 2.5% of all DSP side wholesale</li>
     <li><strong>ApogeeInvent –</strong> Marketing Platforms and Custom Development 15% of initial contracts * 5% of all continuing</li>
    
    
    </ul>
    
    
    <h3>Medical Industry Sales:</h3>
    
    
    <ul>
    
    <li><strong>AWS Diagnostic Center ANS –</strong> ANS Device and Platform Sales $2,500 a device placed * 5% of the monthly net to AWS on all tests</li>
    <li><strong>MedWorldOne -</strong> Medical Supply Procurement 2.5% of all net revenue from closed relationship * 10% of all net revenue from fully managed accounts</li>
    <li><strong>Helios Medical Marketing -</strong> GEO Fencing and Digital Display 10% of all DSP side wholesale
    </li>
    
    </ul>
    
    
    <h5>
    The heartbeat of our company is our national sales organization. 
    <br/>
    The opportunities we represent are all through partnerships and Joint Ventures.  Most of them with us playing a central role in ownership and development.
    <br/>
    The commissions that we offer are in the upper percentage of high-ticket 
    programs for sales professionals.
    </h5>
    
    </div>
    
    </div>
  </div>
  
<div class="full_Program_View_body full_Program_View_5">
  <!-- <img src="../../assets/images/full_Program_View_5.jpg"> -->
  <div class="fpv_block5">
    <h1>Here are some examples of single sale opportunities with the Beto Paredes Family of Companies</h1>
    
    <div class="fpv_block5_left">
    
        <div class="fpv_block5_group">
         <div class="fpv_block5_group_wrapper">
            <div class="fpv_block5_group_left">  <img src="../../assets/images/repdashboard_offer_img10.png" alt="#" /></div>
             <div class="fpv_block5_group_right">
             
             <label>A $200,000 JV</label>
             
             <span>* $20,000 Commission <br/>
    * Unlimited potential in residual (5%)</span>
             
             </div>
         </div>
    
       </div>  
       
       
           <div class="fpv_block5_group">
         <div class="fpv_block5_group_wrapper">
            <div class="fpv_block5_group_left">  <img src="../../assets/images/FPV_page2_logo10.png" alt="#" /></div>
             <div class="fpv_block5_group_right">
             
             <label>Titan MLM $50,000 platform</label>
             
             <span>* $7,500 a close<br/> 
    * Potential for $500 a month continuous
    </span>
             
             </div>
         </div>
    
       </div>  
       
        <div class="fpv_block5_group">
         <div class="fpv_block5_group_wrapper">
            <div class="fpv_block5_group_left">  <img src="../../assets/images/FPV_page2_logo1.png" alt="#" /></div>
             <div class="fpv_block5_group_right">
             
             <label>MRI Device Wholesale at $150,000 <p>($80,000 Costs)</p> </label>
             
             <span>* $1,500 non managed <br/>
    * $6,000 Fully managed
    </span>
             
             </div>
         </div>
    
       </div>  
       
       
       <div class="fpv_block5_group">
         <div class="fpv_block5_group_wrapper">
            <div class="fpv_block5_group_left">  <img src="../../assets/images/marketingre_view_awslogo.png" alt="#" /></div>
             <div class="fpv_block5_group_right">
             
             <label>One AWS RM-3A Placed <p>(3+ the usual)</p> </label>
             
             <span>* $2,500 up front <br/>
    * Potential for $1,000 a month continuous
    </span>
             
             </div>
         </div>
    
       </div>  
       
       <div class="fpv_block5_group">
         <div class="fpv_block5_group_wrapper">
            <div class="fpv_block5_group_left">  <img src="../../assets/images/repdashboard_offer_img7.png" alt="#" /></div>
             <div class="fpv_block5_group_right">
             
             <label>Agency or BIG DATA Partner spend 
    of $500,000 a month <span>(most will be over 5 million)</span> </label>
             
             <span>* $4,375 a month commissions </span>
             
             </div>
         </div>
    
       </div>  
       
       <div class="fpv_block5_group">
         <div class="fpv_block5_group_wrapper">
            <div class="fpv_block5_group_left">  <img src="../../assets/images/ami_new_img4.png" alt="#" /></div>
             <div class="fpv_block5_group_right">
             
             <label>Large Advertiser Spend of $50,000 a month </label>
             
             <span>* $1,750 a month in commissions</span>
             
             </div>
         </div>
    
       </div>  
       
       
       
       
       
    
    </div>
     
     
     <div class="fpv_block5_right">
     
     <ul>
     
     <li>Our sales platform is a Senior Outside Sales Opportunity for 1099 Consulting Directors.</li>
    
    <li>Our opportunities bring in high closing commissions and very lucrative monthly residual income.</li>
    
    <li>As a Consulting Director working with us daily, achieving a 6 to 7 figure yearly residual income is extremely possible. </li>
    
    <li>We offer a full discovery call closing desk for every opportunity and a back-office CRM and contracting system for every rep.</li>
    
    <li>We have sales decks, brochures, business cards, and flyers available for every opportunity.</li>
    
    <li>We hold weekly trainings for every opportunity and run fully managed sales with serious teams.</li>
    
     </ul>
    
    </div>
    
    <div class="clear"></div>
    
    </div>
  </div>
  
  
<div class="full_Program_View_body full_Program_View_6">
  <!-- <img src="../../assets/images/full_Program_View_6.jpg"> -->
  <div class="fpv_block6">
    <div class="fpv_block6_wrapper">
     <img src="../../assets/images/FPV_beto_logo.png"  class="block6logo"/>
     <h1>WE OFFER YOU FULL</h1>
     <h2>DISCOVERY CALL<br/>
  SUPPORT FOR YOUR<br/>
  SALES EFFORTS</h2>
  
  <h3>You have access to the CEOs and Vice Presidents of Sales for each of the companies that we represent. The closing desk is composed of professionals that have consistent track records in closing hundreds to thousands of deals. </h3>
  
  <h4>You have very easy access to the calendar availability of everyone of the closing desk participating managers. You will be able to see their availability and book the discovery appointments right there on their calendar in our back office. </h4>
  
  </div>
  
  
  </div>
  </div>
  
<div class="full_Program_View_body full_Program_View_7">
  <!-- <img src="../../assets/images/full_Program_View_7.jpg"> -->
  <div class="fpv_block7">
    <div class="fpv_block7_wrapper">
    <img src="../../assets/images/FPV_beto_logo.png"  class="block7logo"/>
    
    <h1>COMMISSIONS ARE
  PAID MONTHLY</h1>
  
   <label>We receive commissions from each of the companies on a weekly basis, as they are paid directly by their clients net 7.</label>
   <label>Each month end, we calculate exactly what commissions have come in, then we add each individual client report to your commission report in the back office. </label>
   <label>We pay Monthly Net 7 and will mail you a check for the full commission amount with a detail within 7 days into the next month. </label>
   <label>We have some other payment options as well besides check.  Please talk to us if there is a more preferred method for you.</label>
  
    
    </div>
    
   </div>
  </div>
  
  
  
<div class="full_Program_View_body full_Program_View_8">
  <!-- <img src="../../assets/images/full_Program_View_8.jpg"> -->
  <div class="fpv_block8NEW">
    <div class="fpv_block8NEW_wrapper">
    
    <h2>BETO PAREDES CONSULTING DIRECTOR BACK OFFICE</h2>
    
    <ul>
    
    <li>Sales decks in both PDF and PowerPoint for every opportunity you are selling.</li>
  
   <li>Brochure print material for every program orderable at wholesale from Vista Print Resource Center with:
   
   <label>Industry Report (Information you need to know about the Industry we are sellin)</label>
  
   <label>Sales Pitch (The opening script for pushing to a Discovery call)</label>
  
   <label>Transliteration (From all the training in the training cente)</label>
  
   <label>Questionnaire (What questions must be answered to officially start a contract)</label>
  
   <label>Print Work for download and email attachments</label>
   
   </li>
   
   
   <li>Full Training Center Education and Testing (Plus weekly team calls for each platform)</li>
  
  <li>Lead management system for entering in your leads</li>
  
  <li>Discovery call calendar for setting presentation reviews with your prospects</li>
  
  <li>Contract request system for sending contracts for review and then client signature</li>
  
  <li>Senior manager 15-minute quick game plan calendar available to schedule with our team</li>
    
    
    </ul>
    
    
    </div>
    
    </div>
  
  </div>
  
  
<div class="full_Program_View_body full_Program_View_9">
  <!-- <img src="../../assets/images/full_Program_View_9.jpg"> -->
  <div class="fpv_block8">
    <div class="fpv_block8_wrapper">
    
    <h2>What is covered in Training?</h2>
    
     <ul>
     <li>The pitch and how to give it for each opportunity</li>
    
     <li>A full review of the Media Deck by the closing desk managers</li>
    
     <li>How to use the Backoffice</li>
    
     <li>How to set a discovery call</li>
    
     <li>How to enter in a lead</li>
    
     <li>How to schedule a closing desk call</li>
    
     <li>How to access the resource center and what you will find there</li>
    
     <li>Weekly calls and what to expect</li>
     </ul>
     
     <h3>As soon as you finish your first full training, your back office will open up and you will be added to the weekly call for that training.</h3>
     
    </div>
    
    </div>
  </div>
  
<div class="full_Program_View_body full_Program_View_10">
  <!-- <img src="../../assets/images/full_Program_View_10.jpg"> -->
  <div class="fpv_block9">
    <div class="fpv_block9_wrapper">
    <img src="../../assets/images/FPV_beto_logo.png"  class="block9logo"/>
    <h2>Weekly Calls</h2>
    
    <h3>Once you have finished training, you will be added to the weekly call that we hold for each opportunity. This will happen automatically and as soon as you are done training, you will receive a Go2Webinar invite in your email.</h3>
    
    <h3>The closing desk managers host this call and are there to give weekly game plan advice and answer your questions.  Please come prepared to ask your questions in a complete fashion.  Questions are submitted over chat and then addressed as there is time on the call. </h3>
    
    <h5>Monday – 6PM Pacific / 9PM Eastern: AWS Diagnostic Center Call</h5>
     <h5>Thursday – 6PM Pacific / 9PM Eastern:   MedWorldOne Call</h5>
     
     <h6>(Calls for ApogeeInvent and Universal Tech Associates are held periodically.  We will send out announcements when they are scheduled.)</h6>
    </div>
    
    </div>
  </div>

  
<div class="full_Program_View_body full_Program_View_11">
  <!-- <img src="../../assets/images/full_Program_View_11.jpg"> -->
  <div class="fpv_block10">

    <div class="fpv_block10_wrapper">
    <h2>The Beto Paredes Family of Companies Sales Process:</h2>
    <h3>We have worked diligently to make the process for sales as identical across the platforms as possible.  All 6 programs follow these 12 critical steps from open to close of the deal. </h3>
    
    <h4>1.	Review the qualifications document on the Industry Report (top of the report) to make sure that you are contacting qualified leads.</h4>
 
   <h4>2.	You seek out the potential client using your own methods or prospecting (if you are granted CRM access to our leads this will be through our system).</h4>
 
   <h4>3.	Give an “Opportunity” pitch.  It is critical that you cover all pitch points for the program. </h4>
 
    <div class="blockblock10"></div>
    </div>
  </div>
  </div>
  
  
<div class="full_Program_View_body full_Program_View_12">
  <!-- <img src="../../assets/images/full_Program_View_12.jpg"> -->
  <div class="fpv_block11">

    <div class="fpv_block11_wrapper">
    <h2>The Beto Paredes Family of Companies Sales Process:</h2>
    <h3>We have worked diligently to make the process for sales as identical across the platforms as possible.  All 6 programs follow these 12 critical steps from open to close of the deal.</h3>
    
    <h4>4.	When you have a prospect ready to go, you enter them in as a lead in our system.</h4>
 
 <h4>5.	Open the Discovery Calendar and set a Screen 
 Share presentation with the Closing Desk and the 
 prospect.</h4>
 
 <h4>6.	You are required to be on the Discovery presentation and host the call.</h4>
 
    <div class="blockblock11"></div>
    </div>
  </div>
  </div>
  
  
<div class="full_Program_View_body full_Program_View_13">
  <!-- <img src="../../assets/images/full_Program_View_13.jpg"> -->
  <div class="fpv_block13">

    <div class="fpv_block13_wrapper">
    <h2>The Beto Paredes Family of Companies Sales Process:</h2>
    <h3>We have worked diligently to make the process for sales as identical across the platforms as possible.  All 6 programs follow these 12 critical steps from open to close of the deal. </h3>
    
    <h4>7.	On the Discovery call our senior closing team will do everything possible to move the deal towards closed,  including the suggestion of sending them the contract.</h4>
 
    <h4>8.	You need to plan to stay at least 10 extra minutes after all Discoveries to speak with our Senior staff on an action plan for next steps with the prospect.</h4>
 
    <h4>9.	Once a Discovery is finished, it is your responsibility to close the rest of the contract and get the signature. </h4>
 
       <div class="blockblock10"></div>
    </div>
  </div>
  </div>
  
  
  
  
  
<div class="full_Program_View_body full_Program_View_14">
  <!-- <img src="../../assets/images/full_Program_View_14.jpg"> -->
  <div class="fpv_block14">

    <div class="fpv_block14_wrapper">
    <h2>The Beto Paredes Family of Companies Sales Process:</h2>
    <h3>We have worked diligently to make the process for sales as identical across the platforms as possible.  All 6 programs follow these 12 critical steps from open to close of the deal.</h3>
    
    <h4>10.	At this point, you send a contract request in for review to the admin team.  They will add anything they see in this from your notes and then send you back the contract ready to go to the client.</h4>
 
  <h4>11.	From here, you will need to be able to answer questions on the contract the best you can and get them to sign.  This is all done through digital signature (contract review is in the training center for each opportunity).</h4>
 
  <h4>12.	Upon request, you can if needed set additional calls with the Closing Desk on a case by case approved basis. </h4>
 
    
    </div>
  </div>
  </div>
  
  
 


<span class="backtotop" [ngClass]="{ 'show-scrollTop': windowScrolled }">
  <a (click)="scrollToTop()">
    <img src="../../assets/images/scrolltotop_img.png" >
  </a>


</span>


<app-footer></app-footer>