<app-adminheader></app-adminheader>
<!-- <div class="s_getmyoffer_adminpanel"> -->
  <!-- <div class="s_getmyoffer_adminpanel_inner">
    <div class="s_getmyoffer_adminpanel_inner_content_left">
    </div>
    <div class="s_getmyoffer_adminpanel_inner_content_right manageleadslist"> -->
      <!-- <app-listing class="manageleads" templatetype="table" sourcetitle="Products"  [tabledatalis]="tabledatalist" menuval="Products List " [formdata]="formdata"  >
      </app-listing> -->


      <div class="user_management_wrapper">
  
        <div class="user_management_inner">
      
         <h2> products management</h2>
          
      
      
      </div>
      </div>
      
      <div class="usermanagementpagecon">
        <button mat-flat-button color="primary" [routerLink]="['/products/add']" class="products_addbtn">Add Product</button>
      <lib-listing class="LIBproductmanagementpagecon" *ngIf="product_list!=null && product_list.length>0" 
        [datasource]="product_list"                                 
        [skip]="tabledata_header_skip"                         
        [modify_header_array]="modify_header_array"
        [apiurl]="_apiService.nodesslurl"
        [deleteendpoint]="deleteendpoint"
        [updateendpoint]="updateendpoint"
        [jwttoken]="_apiService.jwttoken"
        [date_search_source]="date_search_source"
        [date_search_endpoint]="date_search_endpoint"
        [sourcedata]="tablename"
        [statusarr]="statusarray"    
        [detail_skip_array]="tabledata_detail_skip"
        
        [editroute]="editroute"
        [search_settings]="search_settings"
        [searchendpoint]="searchendpoint"
        [sortdata]="sortdata"
        [datacollection]="datacollection"
        [date_search_source_count]="date_search_source_count"
        [libdata]="libdata"
        [limitcond]="limitcond">
      </lib-listing>
    </div>

    <div class="clear"></div>
    <!-- </div>
  </div> -->
<!-- </div> -->
<app-footer></app-footer>