<!-- <div class="loder_body" *ngIf="loader==1">
  <div class="loder_wrapper">
    <img src="assets/images/betologo.png" alt="#"
      style="margin:0 auto; display: block; margin-bottom:30px; max-width: 280px;" />
    <div class="loader"></div>
  </div>
</div> -->

<app-adminheader></app-adminheader>

<div class="user_management_wrapper">
  
  <div class="user_management_inner">

   <h2> user management Edit</h2>
    


</div>
</div>
<div class="addformwrapper">
  <lib-showform *ngIf="formdata !=null"
  [formdata]="formdata"
  [formfieldrefresh]="formfieldrefresh"
  [formfieldrefreshdata]="formfieldrefreshdata"> 
</lib-showform> 
</div>

<app-footer></app-footer>
